# b/261518779
dontaudit con_monitor_app activity_service:service_manager { find };
dontaudit con_monitor_app content_capture_service:service_manager { find };
dontaudit con_monitor_app game_service:service_manager { find };
dontaudit con_monitor_app netstats_service:service_manager { find };
dontaudit con_monitor_app system_server:binder { call };
dontaudit con_monitor_app system_server:binder { transfer };
dontaudit con_monitor_app system_server:fd { use };
# b/261783158
dontaudit con_monitor_app system_file:file { getattr };
dontaudit con_monitor_app system_file:file { map };
dontaudit con_monitor_app system_file:file { open };
dontaudit con_monitor_app system_file:file { read };
dontaudit con_monitor_app tmpfs:file { execute };
dontaudit con_monitor_app tmpfs:file { map };
dontaudit con_monitor_app tmpfs:file { read };
dontaudit con_monitor_app tmpfs:file { write };
# b/261933171
dontaudit con_monitor_app dumpstate:fd { use };
dontaudit con_monitor_app dumpstate:fifo_file { append };
dontaudit con_monitor_app dumpstate:fifo_file { write };
dontaudit con_monitor_app system_server:fifo_file { write };
dontaudit con_monitor_app tombstoned:unix_stream_socket { connectto };
dontaudit con_monitor_app tombstoned_java_trace_socket:sock_file { write };
# b/262455571
dontaudit con_monitor_app data_file_type:dir { search };
dontaudit con_monitor_app servicemanager:binder { call };
dontaudit con_monitor_app statsd:unix_dgram_socket { sendto };
dontaudit con_monitor_app statsdw_socket:sock_file { write };
dontaudit con_monitor_app system_file:file { execute };
# b/264489520
userdebug_or_eng(`
  permissive con_monitor_app;
')
# b/267843291
dontaudit con_monitor_app resourcecache_data_file:file { read };
