# b/261933169
dontaudit dumpstate con_monitor_app:process { signal };
dontaudit dumpstate hal_power_stats_vendor_service:service_manager { find };
dontaudit dumpstate euiccpixel_app:process { signal };
dontaudit dumpstate fuse:dir { search };
dontaudit dumpstate hal_audio_default:binder { call };
dontaudit dumpstate hal_confirmationui_default:binder { call };
dontaudit dumpstate hal_health_default:binder { call };
dontaudit dumpstate modem_efs_file:dir { getattr };
dontaudit dumpstate modem_img_file:dir { getattr };
dontaudit dumpstate modem_img_file:filesystem { getattr };
dontaudit dumpstate modem_userdata_file:dir { getattr };
dontaudit dumpstate persist_file:dir { getattr };
dontaudit dumpstate system_data_file:dir { open };
dontaudit dumpstate system_data_file:dir { read };
dontaudit dumpstate vold:binder { call };
# b/262633248
dontaudit dumpstate mediacodec_google:process { signal };
dontaudit dumpstate rild:binder { call };
# b/263048776
dontaudit dumpstate hal_usb_impl:binder { call };
dontaudit dumpstate hal_uwb_default:binder { call };
# b/264489270
userdebug_or_eng(`
  permissive dumpstate;
')# b/267260717
dontaudit dumpstate hal_cas_default:binder { call };
dontaudit dumpstate hal_sensors_default:binder { call };
