# b/261933249
dontaudit google_camera_app vendor_file:file { getattr };
dontaudit google_camera_app vendor_file:file { map };
dontaudit google_camera_app vendor_file:file { open };
dontaudit google_camera_app vendor_file:file { read };
# b/262455755
dontaudit google_camera_app activity_service:service_manager { find };
dontaudit google_camera_app cameraserver_service:service_manager { find };
dontaudit google_camera_app content_capture_service:service_manager { find };
dontaudit google_camera_app device_state_service:service_manager { find };
dontaudit google_camera_app edgetpu_app_service:service_manager { find };
dontaudit google_camera_app edgetpu_device:chr_file { ioctl };
dontaudit google_camera_app edgetpu_device:chr_file { map };
dontaudit google_camera_app edgetpu_device:chr_file { read write };
dontaudit google_camera_app fwk_stats_service:service_manager { find };
dontaudit google_camera_app game_service:service_manager { find };
dontaudit google_camera_app mediaserver_service:service_manager { find };
dontaudit google_camera_app netstats_service:service_manager { find };
dontaudit google_camera_app sensorservice_service:service_manager { find };
dontaudit google_camera_app surfaceflinger_service:service_manager { find };
dontaudit google_camera_app thermal_service:service_manager { find };
