# b/260366297
dontaudit hal_wlc sysfs:file { getattr };
dontaudit hal_wlc sysfs:file { open };
dontaudit hal_wlc sysfs:file { read };
dontaudit hal_wlc sysfs:file { write };
