# b/264321380
dontaudit hal_camera_default gxp_device:chr_file { ioctl };
dontaudit hal_camera_default gxp_device:chr_file { open };
dontaudit hal_camera_default gxp_device:chr_file { read write };
# b/264489778
userdebug_or_eng(`
  permissive hal_camera_default;
')
# b/264483024
dontaudit hal_camera_default hal_radioext_hwservice:hwservice_manager { find };
