# b/261105182
dontaudit hal_contexthub_default chre:unix_stream_socket { connectto };
dontaudit hal_contexthub_default chre_socket:sock_file { write };
