# b/260366126
dontaudit hal_power_default sysfs:file { open };
dontaudit hal_power_default sysfs:file { write };
dontaudit hal_power_default sysfs_camera:file { open };
dontaudit hal_power_default sysfs_camera:file { write };
dontaudit hal_power_default sysfs_display:file { open };
dontaudit hal_power_default sysfs_display:file { write };
dontaudit hal_power_default sysfs_fabric:file { open };
dontaudit hal_power_default sysfs_fabric:file { write };
dontaudit hal_power_default vendor_camera_prop:property_service { set };
# b/260769063
dontaudit hal_power_default hal_graphics_composer_default:binder { transfer };
# b/261105028
dontaudit hal_power_default hal_fingerprint_default:binder { transfer };
# b/261650934
dontaudit hal_power_default hal_camera_default:binder { transfer };
