# b/259302023
dontaudit hal_dumpstate_default file_type:file *;
dontaudit hal_dumpstate_default fs_type:file *;
dontaudit hal_dumpstate_default file_type:dir *;
dontaudit hal_dumpstate_default fs_type:dir *;
dontaudit hal_dumpstate_default property_type:file *;
# b/261933251
dontaudit hal_dumpstate_default hal_dumpstate_default:lockdown { integrity };
dontaudit hal_dumpstate_default logbuffer_device:chr_file { getattr };
dontaudit hal_dumpstate_default logbuffer_device:chr_file { open };
dontaudit hal_dumpstate_default logbuffer_device:chr_file { read };
dontaudit hal_dumpstate_default vndbinder_device:chr_file { ioctl };
dontaudit hal_dumpstate_default vndbinder_device:chr_file { map };
dontaudit hal_dumpstate_default vndbinder_device:chr_file { open };
dontaudit hal_dumpstate_default vndbinder_device:chr_file { read };
dontaudit hal_dumpstate_default vndbinder_device:chr_file { write };
