# b/260366029
dontaudit hal_camera_default device:chr_file { ioctl };
dontaudit hal_camera_default device:chr_file { open };
dontaudit hal_camera_default device:chr_file { read };
# b/261651093
dontaudit hal_camera_default apex_info_file:file { getattr };
dontaudit hal_camera_default apex_info_file:file { open };
dontaudit hal_camera_default apex_info_file:file { read };
dontaudit hal_camera_default apex_info_file:file { watch };
dontaudit hal_camera_default edgetpu_device:chr_file { ioctl };
dontaudit hal_camera_default edgetpu_device:chr_file { map };
dontaudit hal_camera_default edgetpu_device:chr_file { open };
dontaudit hal_camera_default edgetpu_device:chr_file { read write };
dontaudit hal_camera_default edgetpu_vendor_server:binder { call };
dontaudit hal_camera_default edgetpu_vendor_server:fd { use };
dontaudit hal_camera_default edgetpu_vendor_service:service_manager { find };
dontaudit hal_camera_default fwk_stats_service:service_manager { find };
dontaudit hal_camera_default hal_camera_default:capability { sys_nice };
dontaudit hal_camera_default hal_power_default:binder { call };
dontaudit hal_camera_default hal_power_service:service_manager { find };
dontaudit hal_camera_default hal_radioext_default:binder { call };
dontaudit hal_camera_default init:unix_stream_socket { connectto };
dontaudit hal_camera_default kernel:process { setsched };
dontaudit hal_camera_default lwis_device:chr_file { ioctl };
dontaudit hal_camera_default lwis_device:chr_file { open };
dontaudit hal_camera_default lwis_device:chr_file { read };
dontaudit hal_camera_default lwis_device:chr_file { write };
dontaudit hal_camera_default mnt_vendor_file:dir { search };
dontaudit hal_camera_default persist_camera_file:dir { search };
dontaudit hal_camera_default persist_camera_file:file { getattr };
dontaudit hal_camera_default persist_camera_file:file { open };
dontaudit hal_camera_default persist_camera_file:file { read };
dontaudit hal_camera_default persist_file:dir { search };
dontaudit hal_camera_default property_socket:sock_file { write };
dontaudit hal_camera_default rls_service:service_manager { find };
dontaudit hal_camera_default rlsservice:binder { call };
dontaudit hal_camera_default system_data_file:dir { search };
dontaudit hal_camera_default system_server:binder { call };
dontaudit hal_camera_default traced:unix_stream_socket { connectto };
dontaudit hal_camera_default traced_producer_socket:sock_file { write };
dontaudit hal_camera_default vendor_camera_data_file:dir { getattr };
dontaudit hal_camera_default vendor_camera_data_file:dir { open };
dontaudit hal_camera_default vendor_camera_data_file:dir { read };
dontaudit hal_camera_default vendor_camera_data_file:dir { search };
dontaudit hal_camera_default vendor_camera_data_file:file { getattr };
dontaudit hal_camera_default vendor_camera_data_file:file { open };
dontaudit hal_camera_default vendor_camera_data_file:file { read };
dontaudit hal_camera_default vendor_camera_debug_prop:file { getattr };
dontaudit hal_camera_default vendor_camera_debug_prop:file { map };
dontaudit hal_camera_default vendor_camera_debug_prop:file { open };
dontaudit hal_camera_default vendor_camera_debug_prop:file { read };
dontaudit hal_camera_default vendor_camera_prop:file { getattr };
dontaudit hal_camera_default vendor_camera_prop:file { map };
dontaudit hal_camera_default vendor_camera_prop:file { open };
dontaudit hal_camera_default vendor_camera_prop:file { read };
dontaudit hal_camera_default vendor_camera_prop:property_service { set };
dontaudit hal_camera_default vndbinder_device:chr_file { ioctl };
dontaudit hal_camera_default vndbinder_device:chr_file { map };
dontaudit hal_camera_default vndbinder_device:chr_file { open };
dontaudit hal_camera_default vndbinder_device:chr_file { read };
dontaudit hal_camera_default vndbinder_device:chr_file { write };
dontaudit hal_camera_default vndservicemanager:binder { call };
