# b/260366169
dontaudit hal_vibrator_default input_device:chr_file { getattr };
dontaudit hal_vibrator_default input_device:chr_file { ioctl };
dontaudit hal_vibrator_default input_device:chr_file { open };
dontaudit hal_vibrator_default input_device:chr_file { read write };
dontaudit hal_vibrator_default input_device:dir { open };
dontaudit hal_vibrator_default input_device:dir { read };
dontaudit hal_vibrator_default input_device:dir { search };
dontaudit hal_vibrator_default mnt_vendor_file:dir { search };
dontaudit hal_vibrator_default persist_file:dir { search };
dontaudit hal_vibrator_default persist_haptics_file:dir { search };
dontaudit hal_vibrator_default persist_haptics_file:file { getattr };
dontaudit hal_vibrator_default persist_haptics_file:file { open };
dontaudit hal_vibrator_default persist_haptics_file:file { read };
dontaudit hal_vibrator_default proc_asound:dir { search };
dontaudit hal_vibrator_default proc_asound:file { getattr };
dontaudit hal_vibrator_default proc_asound:file { open };
dontaudit hal_vibrator_default proc_asound:file { read };
dontaudit hal_vibrator_default sysfs:file { getattr };
dontaudit hal_vibrator_default sysfs:file { open };
dontaudit hal_vibrator_default sysfs:file { read };
dontaudit hal_vibrator_default sysfs:file { write };
dontaudit hal_vibrator_default vendor_vibrator_prop:file { getattr };
dontaudit hal_vibrator_default vendor_vibrator_prop:file { map };
dontaudit hal_vibrator_default vendor_vibrator_prop:file { open };
dontaudit hal_vibrator_default vendor_vibrator_prop:file { read };
dontaudit hal_vibrator_default vndbinder_device:chr_file { ioctl };
dontaudit hal_vibrator_default vndbinder_device:chr_file { map };
dontaudit hal_vibrator_default vndbinder_device:chr_file { open };
dontaudit hal_vibrator_default vndbinder_device:chr_file { read };
dontaudit hal_vibrator_default vndbinder_device:chr_file { write };
# b/264490051
userdebug_or_eng(`
  permissive hal_vibrator_default;
')