# b/260366297
dontaudit hal_wlc sysfs:file { getattr };
dontaudit hal_wlc sysfs:file { open };
dontaudit hal_wlc sysfs:file { read };
dontaudit hal_wlc sysfs:file { write };
# b/262455719
dontaudit hal_wlc hal_wlc:netlink_kobject_uevent_socket { bind };
dontaudit hal_wlc hal_wlc:netlink_kobject_uevent_socket { create };
dontaudit hal_wlc hal_wlc:netlink_kobject_uevent_socket { getopt };
dontaudit hal_wlc hal_wlc:netlink_kobject_uevent_socket { read };
dontaudit hal_wlc hal_wlc:netlink_kobject_uevent_socket { setopt };
dontaudit hal_wlc hwservicemanager:binder { call };
dontaudit hal_wlc hwservicemanager:binder { transfer };
dontaudit hal_wlc hwservicemanager_prop:file { getattr };
dontaudit hal_wlc hwservicemanager_prop:file { map };
dontaudit hal_wlc hwservicemanager_prop:file { open };
dontaudit hal_wlc hwservicemanager_prop:file { read };
# b/264489562
userdebug_or_eng(`
  permissive hal_wlc;
')