# b/261651110
dontaudit hal_usb_gadget_impl configfs:dir { add_name };
dontaudit hal_usb_gadget_impl configfs:dir { open };
dontaudit hal_usb_gadget_impl configfs:dir { read };
dontaudit hal_usb_gadget_impl configfs:dir { remove_name };
dontaudit hal_usb_gadget_impl configfs:dir { search };
dontaudit hal_usb_gadget_impl configfs:dir { write };
dontaudit hal_usb_gadget_impl configfs:file { create };
dontaudit hal_usb_gadget_impl configfs:file { open };
dontaudit hal_usb_gadget_impl configfs:file { unlink };
dontaudit hal_usb_gadget_impl configfs:file { write };
dontaudit hal_usb_gadget_impl configfs:lnk_file { create };
dontaudit hal_usb_gadget_impl configfs:lnk_file { read };
dontaudit hal_usb_gadget_impl functionfs:dir { read };
dontaudit hal_usb_gadget_impl functionfs:dir { search };
dontaudit hal_usb_gadget_impl functionfs:dir { watch watch_reads };
dontaudit hal_usb_gadget_impl functionfs:file { read };
dontaudit hal_usb_gadget_impl hwservicemanager:binder { call };
dontaudit hal_usb_gadget_impl hwservicemanager:binder { transfer };
dontaudit hal_usb_gadget_impl hwservicemanager_prop:file { getattr };
dontaudit hal_usb_gadget_impl hwservicemanager_prop:file { map };
dontaudit hal_usb_gadget_impl hwservicemanager_prop:file { open };
dontaudit hal_usb_gadget_impl hwservicemanager_prop:file { read };
dontaudit hal_usb_gadget_impl proc_interrupts:file { getattr };
dontaudit hal_usb_gadget_impl proc_interrupts:file { open };
dontaudit hal_usb_gadget_impl proc_interrupts:file { read };
dontaudit hal_usb_gadget_impl sysfs:file { read };
dontaudit hal_usb_gadget_impl system_server:binder { call };
dontaudit hal_usb_gadget_impl vendor_usb_config_prop:file { getattr };
dontaudit hal_usb_gadget_impl vendor_usb_config_prop:file { map };
dontaudit hal_usb_gadget_impl vendor_usb_config_prop:file { open };
dontaudit hal_usb_gadget_impl vendor_usb_config_prop:file { read };
