# b/260769165
dontaudit hal_nfc_default vendor_nfc_prop:file { getattr };
dontaudit hal_nfc_default vendor_nfc_prop:file { map };
dontaudit hal_nfc_default vendor_nfc_prop:file { open };
dontaudit hal_nfc_default vendor_nfc_prop:file { read };
