# b/260366065
dontaudit hal_uwb_default device:chr_file { ioctl };
dontaudit hal_uwb_default device:chr_file { open };
dontaudit hal_uwb_default device:chr_file { read write };
