# b/260366438
dontaudit hal_health_default init:unix_stream_socket { connectto };
dontaudit hal_health_default mnt_vendor_file:dir { search };
dontaudit hal_health_default persist_file:dir { search };
dontaudit hal_health_default property_socket:sock_file { write };
dontaudit hal_health_default sysfs:file { getattr };
dontaudit hal_health_default sysfs:file { open };
dontaudit hal_health_default sysfs:file { read };
dontaudit hal_health_default sysfs:file { write };
dontaudit hal_health_default sysfs_scsi_devices_0000:dir { search };
dontaudit hal_health_default sysfs_scsi_devices_0000:file { getattr };
dontaudit hal_health_default sysfs_scsi_devices_0000:file { open };
dontaudit hal_health_default sysfs_scsi_devices_0000:file { read open };
dontaudit hal_health_default sysfs_scsi_devices_0000:file { read };
dontaudit hal_health_default vendor_battery_defender_prop:file { getattr };
dontaudit hal_health_default vendor_battery_defender_prop:file { map };
dontaudit hal_health_default vendor_battery_defender_prop:file { open };
dontaudit hal_health_default vendor_battery_defender_prop:file { read };
dontaudit hal_health_default vendor_battery_defender_prop:property_service { set };
# b/261933135
dontaudit hal_health_default dumpstate:fd { use };
# b/262178574
dontaudit hal_health_default dumpstate:fifo_file { write };
