# b/260366519
dontaudit hal_power_stats_default sysfs:file { getattr };
dontaudit hal_power_stats_default sysfs:file { open };
dontaudit hal_power_stats_default sysfs:file { read };
# b/260768935
dontaudit hal_power_stats_default powerstats_vendor_data_file:dir { search };
dontaudit hal_power_stats_default sysfs_cpu:file { getattr };
dontaudit hal_power_stats_default sysfs_cpu:file { open };
dontaudit hal_power_stats_default sysfs_cpu:file { read };
dontaudit hal_power_stats_default sysfs_iio_devices:dir { open };
dontaudit hal_power_stats_default sysfs_iio_devices:dir { read };
dontaudit hal_power_stats_default sysfs_iio_devices:dir { search };
dontaudit hal_power_stats_default sysfs_leds:dir { search };
dontaudit hal_power_stats_default sysfs_leds:file { open };
dontaudit hal_power_stats_default sysfs_leds:file { read };
# b/260922184
dontaudit hal_power_stats_default powerstats_vendor_data_file:dir { search };
dontaudit hal_power_stats_default sysfs_cpu:file { getattr };
dontaudit hal_power_stats_default sysfs_cpu:file { open };
dontaudit hal_power_stats_default sysfs_cpu:file { read };
dontaudit hal_power_stats_default sysfs_iio_devices:dir { open };
dontaudit hal_power_stats_default sysfs_iio_devices:dir { read };
dontaudit hal_power_stats_default sysfs_iio_devices:dir { search };
dontaudit hal_power_stats_default sysfs_leds:dir { search };
dontaudit hal_power_stats_default sysfs_leds:file { open };
dontaudit hal_power_stats_default sysfs_leds:file { read };
# b/261105152
dontaudit hal_power_stats_default sysfs_aoc:dir { search };
dontaudit hal_power_stats_default sysfs_aoc:file { getattr };
dontaudit hal_power_stats_default sysfs_aoc:file { open };
dontaudit hal_power_stats_default sysfs_aoc:file { read };
# b/261363958
dontaudit hal_power_stats_default default_android_service:service_manager { add };
# b/261519183
dontaudit hal_power_stats_default sysfs_acpm_stats:dir { search };
dontaudit hal_power_stats_default sysfs_acpm_stats:file { read };
dontaudit hal_power_stats_default sysfs_aoc_dumpstate:file { getattr };
dontaudit hal_power_stats_default sysfs_aoc_dumpstate:file { open };
dontaudit hal_power_stats_default sysfs_aoc_dumpstate:file { read };
# b/261651283
dontaudit hal_power_stats_default device:chr_file { getattr };
dontaudit hal_power_stats_default device:chr_file { open };
dontaudit hal_power_stats_default device:chr_file { read };
dontaudit hal_power_stats_default sysfs_acpm_stats:file { getattr };
dontaudit hal_power_stats_default sysfs_acpm_stats:file { open };
