# b/260522436
dontaudit hal_bootctl_default devinfo_block_device:blk_file { open };
dontaudit hal_bootctl_default devinfo_block_device:blk_file { read };
# b/264489609
userdebug_or_eng(`
  permissive hal_bootctl_default;
')
# b/267843310
dontaudit hal_bootctl_default hal_bootctl_default:capability { dac_override };
dontaudit hal_bootctl_default tee_device:chr_file { ioctl };
dontaudit hal_bootctl_default tee_device:chr_file { open };
dontaudit hal_bootctl_default tee_device:chr_file { read write };
