# b/260769163
dontaudit hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read };
dontaudit hal_graphics_composer_default hal_power_default:binder { call };
dontaudit hal_graphics_composer_default sysfs_leds:dir { search };
dontaudit hal_graphics_composer_default sysfs_leds:file { getattr };
dontaudit hal_graphics_composer_default sysfs_leds:file { open };
dontaudit hal_graphics_composer_default sysfs_leds:file { read };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { ioctl };
# b/260921736
dontaudit hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read };
dontaudit hal_graphics_composer_default hal_power_default:binder { call };
dontaudit hal_graphics_composer_default sysfs_leds:dir { search };
dontaudit hal_graphics_composer_default sysfs_leds:file { getattr };
dontaudit hal_graphics_composer_default sysfs_leds:file { open };
dontaudit hal_graphics_composer_default sysfs_leds:file { read };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { ioctl };
# b/261105029
dontaudit hal_graphics_composer_default boot_status_prop:file { getattr };
dontaudit hal_graphics_composer_default boot_status_prop:file { map };
dontaudit hal_graphics_composer_default boot_status_prop:file { open };
dontaudit hal_graphics_composer_default boot_status_prop:file { read };
dontaudit hal_graphics_composer_default device_config_surface_flinger_native_boot_prop:file { getattr };
dontaudit hal_graphics_composer_default device_config_surface_flinger_native_boot_prop:file { map };
dontaudit hal_graphics_composer_default device_config_surface_flinger_native_boot_prop:file { open };
dontaudit hal_graphics_composer_default device_config_surface_flinger_native_boot_prop:file { read };
dontaudit hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { bind };
dontaudit hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { create };
dontaudit hal_graphics_composer_default hal_pixel_display_service:service_manager { add };
dontaudit hal_graphics_composer_default hal_power_service:service_manager { find };
dontaudit hal_graphics_composer_default mnt_vendor_file:dir { search };
dontaudit hal_graphics_composer_default persist_display_file:dir { search };
dontaudit hal_graphics_composer_default persist_display_file:file { getattr };
dontaudit hal_graphics_composer_default persist_display_file:file { open };
dontaudit hal_graphics_composer_default persist_display_file:file { read };
dontaudit hal_graphics_composer_default persist_file:dir { search };
dontaudit hal_graphics_composer_default sysfs_display:file { getattr };
dontaudit hal_graphics_composer_default sysfs_display:file { open };
dontaudit hal_graphics_composer_default sysfs_display:file { read };
dontaudit hal_graphics_composer_default sysfs_display:file { write };
dontaudit hal_graphics_composer_default sysfs_leds:file { write };
dontaudit hal_graphics_composer_default vendor_display_prop:file { getattr };
dontaudit hal_graphics_composer_default vendor_display_prop:file { map };
dontaudit hal_graphics_composer_default vendor_display_prop:file { open };
dontaudit hal_graphics_composer_default vendor_display_prop:file { read };
dontaudit hal_graphics_composer_default vendor_displaycolor_service:service_manager { add };
dontaudit hal_graphics_composer_default vendor_displaycolor_service:service_manager { find };
dontaudit hal_graphics_composer_default vendor_surfaceflinger_vndservice:service_manager { add };
dontaudit hal_graphics_composer_default vendor_surfaceflinger_vndservice:service_manager { find };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { map };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { open };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { read };
dontaudit hal_graphics_composer_default vndbinder_device:chr_file { write };
dontaudit hal_graphics_composer_default vndservicemanager:binder { call };
dontaudit hal_graphics_composer_default vndservicemanager:binder { transfer };
