# b/260366177
dontaudit hal_neuralnetworks_armnn system_data_file:dir { search };
# b/260768359
dontaudit hal_neuralnetworks_armnn default_prop:file { getattr };
dontaudit hal_neuralnetworks_armnn default_prop:file { map };
dontaudit hal_neuralnetworks_armnn default_prop:file { open };
dontaudit hal_neuralnetworks_armnn default_prop:file { read };
# b/260921579
dontaudit hal_neuralnetworks_armnn default_prop:file { getattr };
dontaudit hal_neuralnetworks_armnn default_prop:file { map };
dontaudit hal_neuralnetworks_armnn default_prop:file { open };
dontaudit hal_neuralnetworks_armnn default_prop:file { read };
# b/264489188
userdebug_or_eng(`
  permissive hal_neuralnetworks_armnn;
')