# b/261105164
dontaudit hal_fingerprint_default block_device:dir { search };
dontaudit hal_fingerprint_default dmabuf_system_heap_device:chr_file { ioctl };
dontaudit hal_fingerprint_default dmabuf_system_heap_device:chr_file { open };
dontaudit hal_fingerprint_default dmabuf_system_heap_device:chr_file { read };
dontaudit hal_fingerprint_default fingerprint_device:chr_file { ioctl };
dontaudit hal_fingerprint_default fingerprint_device:chr_file { open };
dontaudit hal_fingerprint_default fingerprint_device:chr_file { read write };
dontaudit hal_fingerprint_default fwk_stats_service:service_manager { find };
dontaudit hal_fingerprint_default hal_fingerprint_default:netlink_socket { bind };
dontaudit hal_fingerprint_default hal_fingerprint_default:netlink_socket { create };
dontaudit hal_fingerprint_default hal_fingerprint_default:netlink_socket { read };
dontaudit hal_fingerprint_default hal_fingerprint_default:netlink_socket { write };
dontaudit hal_fingerprint_default hal_power_default:binder { call };
dontaudit hal_fingerprint_default hal_power_service:service_manager { find };
dontaudit hal_fingerprint_default mfg_data_block_device:blk_file { open };
dontaudit hal_fingerprint_default mfg_data_block_device:blk_file { read write };
dontaudit hal_fingerprint_default sysfs_chosen:dir { search };
dontaudit hal_fingerprint_default sysfs_chosen:file { open };
dontaudit hal_fingerprint_default sysfs_chosen:file { read };
dontaudit hal_fingerprint_default sysfs_display:file { getattr };
dontaudit hal_fingerprint_default sysfs_display:file { open };
dontaudit hal_fingerprint_default sysfs_display:file { read };
dontaudit hal_fingerprint_default tee_device:chr_file { ioctl };
dontaudit hal_fingerprint_default tee_device:chr_file { open };
dontaudit hal_fingerprint_default tee_device:chr_file { read write };
dontaudit hal_fingerprint_default vendor_fingerprint_prop:file { getattr };
dontaudit hal_fingerprint_default vendor_fingerprint_prop:file { map };
dontaudit hal_fingerprint_default vendor_fingerprint_prop:file { open };
dontaudit hal_fingerprint_default vendor_fingerprint_prop:file { read };
dontaudit hal_fingerprint_default vendor_fingerprint_prop:property_service { set };
