# b/260522245
allow kernel same_process_hal_file:file r_file_perms;
dontaudit kernel vendor_regmap_debugfs:dir { search };
# b/262794429
dontaudit kernel sepolicy_file:file { getattr };
dontaudit kernel system_bootstrap_lib_file:dir { getattr };
dontaudit kernel system_bootstrap_lib_file:file { getattr };
dontaudit kernel system_dlkm_file:dir { getattr };
# b/263185161
dontaudit kernel kernel:capability { net_bind_service };
