# b/262633502
dontaudit mediacodec_samsung tombstoned:unix_stream_socket { connectto };
dontaudit mediacodec_samsung tombstoned_crash_socket:sock_file { write };
