# b/262633502
dontaudit mediacodec_samsung tombstoned:unix_stream_socket { connectto };
dontaudit mediacodec_samsung tombstoned_crash_socket:sock_file { write };
# b/262794634
dontaudit mediacodec_samsung dmabuf_system_heap_device:chr_file { getattr };
dontaudit mediacodec_samsung eco_service:service_manager { add };
dontaudit mediacodec_samsung hwservicemanager:binder { call };
dontaudit mediacodec_samsung hwservicemanager:binder { transfer };
dontaudit mediacodec_samsung hwservicemanager_prop:file { getattr };
dontaudit mediacodec_samsung hwservicemanager_prop:file { map };
dontaudit mediacodec_samsung hwservicemanager_prop:file { open };
dontaudit mediacodec_samsung hwservicemanager_prop:file { read };
dontaudit mediacodec_samsung appdomain:binder { transfer };
dontaudit mediacodec_samsung mediaserver:binder { transfer };
dontaudit mediacodec_samsung mediaswcodec:binder { transfer };
dontaudit mediacodec_samsung platform_app:binder { transfer };
dontaudit mediacodec_samsung system_server:binder { transfer };
dontaudit mediacodec_samsung vndbinder_device:chr_file { ioctl };
dontaudit mediacodec_samsung vndbinder_device:chr_file { map };
dontaudit mediacodec_samsung vndbinder_device:chr_file { open };
dontaudit mediacodec_samsung vndbinder_device:chr_file { read };
dontaudit mediacodec_samsung vndbinder_device:chr_file { write };
dontaudit mediacodec_samsung vndservicemanager:binder { call };
dontaudit mediacodec_samsung vndservicemanager:binder { transfer };
# b/263049105
dontaudit mediacodec_samsung dumpstate:fd { use };
dontaudit mediacodec_samsung dumpstate:fifo_file { append };
dontaudit mediacodec_samsung dumpstate:fifo_file { write };
