userdebug_or_eng(`
  permissive pixelstats_vendor;
  permissive logger_app;
  permissive fastbootd;
  permissive audioserver;
  permissive hal_bluetooth_btlinux;
  permissive bootdevice_sysdev;
  permissive charger_vendor;
  permissive chre;
  permissive kernel;
  permissive bootanim;
  permissive hal_graphics_allocator_default;
  permissive hal_graphics_composer_default;
  permissive hal_health_storage_default;
  permissive hal_power_stats_default;
  permissive hal_fingerprint_default;
  permissive gxp_logging;
  permissive hal_contexthub_default;
  permissive hal_sensors_default;
  permissive recovery;
  permissive con_monitor_app;
  permissive hal_secure_element_st54spi;
  permissive ofl_app;
  permissive hal_thermal_default;
  permissive hal_secure_element_uicc;
  permissive hal_usb_gadget_impl;
  permissive hal_usb_impl;
  permissive hal_camera_default;
  permissive hal_uwb_vendor_default;
  permissive google_camera_app;
  permissive uwb_vendor_app;
  permissive hal_wifi_ext;
  permissive hal_wlc;
  permissive init;
  permissive logd;
')
