# b/260768402
dontaudit platform_app default_android_service:service_manager { find };
# b/260922162
dontaudit platform_app default_android_service:service_manager { find };
# b/262794428
dontaudit platform_app hal_wlc:binder { call };
dontaudit platform_app hal_wlc:binder { transfer };
dontaudit platform_app mediacodec_google:binder { call };
dontaudit platform_app mediacodec_google:binder { transfer };
dontaudit platform_app mediacodec_samsung:binder { call };
dontaudit platform_app mediacodec_samsung:binder { transfer };
# b/264490036
userdebug_or_eng(`
  permissive platform_app;
')