# b/260768672
dontaudit secure_element euiccpixel_app:binder { transfer };
# b/260922187
dontaudit secure_element euiccpixel_app:binder { transfer };
# b/261651095
dontaudit secure_element hal_secure_element_uicc:binder { call };
dontaudit secure_element hal_secure_element_uicc:binder { transfer };
dontaudit secure_element system_data_file:dir { add_name };
dontaudit secure_element system_data_file:dir { remove_name };
dontaudit secure_element system_data_file:file { create };
dontaudit secure_element system_data_file:file { rename };
dontaudit secure_element system_data_file:file { write open };
# b/262794969
dontaudit secure_element system_data_file:file { unlink };
