# b/260366030
dontaudit system_server sysfs:file { getattr };
dontaudit system_server sysfs:file { open };
dontaudit system_server sysfs:file { read };
# b/260522040
dontaudit system_server euiccpixel_app:binder { call };
dontaudit system_server euiccpixel_app:binder { transfer };
dontaudit system_server euiccpixel_app:process { setsched };
# b/261519050
dontaudit system_server con_monitor_app:binder { call };
dontaudit system_server con_monitor_app:binder { transfer };
# b/261651009
dontaudit system_server hal_usb_gadget_impl:binder { call };
dontaudit system_server hal_usb_gadget_impl:binder { transfer };
dontaudit system_server hal_usb_impl:binder { call };
dontaudit system_server hal_usb_impl:binder { transfer };
# b/262455682
dontaudit system_server con_monitor_app:process { setsched };
# b/262794938
dontaudit system_server mediacodec_google:binder { call };
dontaudit system_server mediacodec_google:binder { transfer };
dontaudit system_server mediacodec_samsung:binder { call };
dontaudit system_server mediacodec_samsung:binder { transfer };
# b/263184920
dontaudit system_server hal_camera_default:binder { transfer };
# b/263305107
dontaudit system_server hal_camera_default:binder { call };
# b/264489786
userdebug_or_eng(`
  permissive system_server;
')# b/264483754
dontaudit system_server default_android_service:service_manager { find };
