# b/260768379
dontaudit system_app default_android_service:service_manager { find };
dontaudit system_app vendor_default_prop:file { open };
# b/260922048
dontaudit system_app default_android_service:service_manager { find };
dontaudit system_app vendor_default_prop:file { getattr };
dontaudit system_app vendor_default_prop:file { map };
dontaudit system_app vendor_default_prop:file { open };
# b/264490076
userdebug_or_eng(`
  permissive system_app;
')