# b/260366195
dontaudit vendor_init debugfs_trace_marker:file { getattr };
dontaudit vendor_init vendor_init:capability2 { block_suspend };
# b/260522244
dontaudit vendor_init sg_device:chr_file { getattr };
# b/264490095
userdebug_or_eng(`
  permissive vendor_init;
')
# b/267843409
dontaudit vendor_init default_prop:property_service { set };
dontaudit vendor_init vendor_camera_debug_prop:property_service { set };
# b/268572164
dontaudit vendor_init vendor_ssrdump_prop:property_service { set };
dontaudit vendor_init vendor_usb_config_prop:property_service { set };
