# b/260366195
dontaudit vendor_init debugfs_trace_marker:file { getattr };
dontaudit vendor_init vendor_init:capability2 { block_suspend };
dontaudit vendor_init vendor_init:lockdown { integrity };
# b/260522244
dontaudit vendor_init sg_device:chr_file { getattr };
# b/263185566
dontaudit vendor_init bootdevice_sysdev:file { create };
dontaudit vendor_init modem_img_file:filesystem { getattr };
dontaudit vendor_init proc_dirty:file { write };
dontaudit vendor_init proc_sched:file { write };
# b/264490095
userdebug_or_eng(`
  permissive vendor_init;
')
# b/267843409
dontaudit vendor_init default_prop:property_service { set };
dontaudit vendor_init logpersistd_logging_prop:property_service { set };
dontaudit vendor_init vendor_camera_debug_prop:property_service { set };
dontaudit vendor_init vendor_logger_prop:property_service { set };
dontaudit vendor_init vendor_slog_prop:property_service { set };
dontaudit vendor_init vendor_vibrator_prop:property_service { set };
