# b/264831112
dontaudit vold modem_efs_file:dir { ioctl };
dontaudit vold modem_efs_file:dir { open };
dontaudit vold modem_efs_file:dir { read };
dontaudit vold modem_userdata_file:dir { ioctl };
dontaudit vold modem_userdata_file:dir { open };
dontaudit vold modem_userdata_file:dir { read };
dontaudit vold sysfs_scsi_devices_0000:file { write };
