# b/260522203
dontaudit zygote euiccpixel_app:process { dyntransition };
# b/260768740
dontaudit zygote vendor_file:file { execute };
dontaudit zygote vendor_file:file { getattr };
dontaudit zygote vendor_file:file { map };
dontaudit zygote vendor_file:file { open };
dontaudit zygote vendor_file:file { read };
# b/260922185
dontaudit zygote vendor_file:file { execute };
dontaudit zygote vendor_file:file { getattr };
dontaudit zygote vendor_file:file { map };
dontaudit zygote vendor_file:file { open };
dontaudit zygote vendor_file:file { read };
# b/261782930
dontaudit zygote con_monitor_app:process { dyntransition };
