userdebug_or_eng(`
  allow logger_app radio_vendor_data_file:file create_file_perms;
  allow logger_app radio_vendor_data_file:dir create_dir_perms;

  set_prop(logger_app, vendor_modem_prop)
  set_prop(logger_app, vendor_ssrdump_prop)
')
