type modem_ml_svc_sit, domain;
type modem_ml_svc_sit_exec, vendor_file_type, exec_type, file_type;
init_daemon_domain(modem_ml_svc_sit)

binder_use(modem_ml_svc_sit)

# Grant radio device access
allow modem_ml_svc_sit radio_device:chr_file rw_file_perms;

# Grant vendor radio and modem file/dir creation permission
allow modem_ml_svc_sit radio_vendor_data_file:dir create_dir_perms;
allow modem_ml_svc_sit radio_vendor_data_file:file create_file_perms;

# Grant modem ml models config files access
allow modem_ml_svc_sit modem_config_file:file r_file_perms;

# RIL property
get_prop(modem_ml_svc_sit, vendor_rild_prop)

# Access to NNAPI service
hal_client_domain(modem_ml_svc_sit, hal_neuralnetworks)
allow modem_ml_svc_sit edgetpu_nnapi_service:service_manager find;
